@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
    display: flex;
    text-decoration: none;
    
}

ul.left-links {
  align-items: center;
  display: flex;
  list-style-type: none;
  gap: 16px;
  margin-right: auto;
  margin-left: 16px;
  padding: 0;
  text-decoration: none;
}

ul.right-links {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  gap: 16px;
  align-items: center;
  margin-right: 16px;
  text-decoration: none;
}

.content {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 16px;
}

.footer {
  justify-content: space-between;
  display: flex;
  list-style-type: none;
  background-color: lightgrey;
}


a {
  text-decoration: none;
  color: grey;
}